html {
    scroll-behavior: smooth;
}

body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

.Conteudo_primario_Titulo {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #14142B;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    color: #14142B;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #262338
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4E4B66;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

blockquote,
blockquote::before {
    border-left: 4px solid #4700AB;
    padding: 1rem;
    margin: 1.5rem;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5;
}

section {
    margin-left: 6rem;
    margin-right: 6rem;
    padding-bottom: 3rem;
}

.About-me {
    text-align: center;
}

.section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.item {
    padding: 10px;
    width: 30%;
}

.Alone {
    text-align: center;
}

a{
    color: #000000;
}

a:hover {
    color: #333;
}

.Logo {
    height: 40px;
    /* Ajuste a altura conforme necessário */
    margin: 10px 20px;
}

.Navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4E4B66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Navbar-Itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.Navbar-Item {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 0 5px;
    border-radius: 5px;
}

.Navbar-Item:not(:last-child) {
    margin-right: 10px;
    /* Adiciona um espaço entre os botões */
}

.Navbar-Item:hover {
    background-color: #333;
    color: white;
}