html {
    scroll-behavior: smooth;
}

body {
    background-color: #9be3c8;
}

.Conteudo_primario_Titulo {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #14142B;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    color: #14142B;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #262338
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4E4B66;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

blockquote,
blockquote::before {
    border-left: 4px solid #067306;
    padding: 1rem;
    margin: 1.5rem;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.5;
}

section {
    margin-left: 6rem;
    margin-right: 6rem;
    padding-bottom: 3rem;
}

.section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.item {
    padding: 10px;
    width: 30%;
}

li {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4E4B66;

}

.Alone {
    text-align: center;
}

a {
    color: #000000;
}

a:hover {
    color: #333;
}

.Logo {
    height: 40px;
    margin: 10px 20px;
    margin-left: 3rem;
    margin-right: 6rem;
    padding-left: 3rem;
}

.Navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #4E4B66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Navbar-Itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.Navbar-Item {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    margin-left: 0 5px;
    border-radius: 5px;
}

.Navbar-Item:not(:last-child) {
    margin-right: 10px;
}

.Navbar-Item:hover {
    background-color: #067306;
    color: white;
}

/*Modo responsivo:*/
@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    section {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .Logo {
        height: 30px;
        margin: 10px 10px;
    }

    .Navbar {
        flex-direction: column;
        align-items: center;
    }

    .Navbar-Itens {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .Navbar-Item {
        margin: 5px 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    section {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1025px) {
    section {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Isso centralizará verticalmente em relação à altura da janela */
}

.button {
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.button:hover {
    background-color: #067306;
    color: white;
}